@use "./base.scss";


/* ITS CSS */

@use "./custom/its-callout.scss";
@use "./custom/image-adjustments.scss";
@use "./custom/its-dataview-card.scss";
@use "./custom/its-embed-adjustments.scss";
// @use "./custom/its-encoded-icons.scss";
@use "./custom/its-external-link-icons.scss";


@use "./custom/maintenance-template-callout.scss";
@use "./custom/transclusion-adjustments.scss";
@use "./custom/column-callout.scss";
@use "./custom/caption-callout.scss";
@use "./custom/infobox-callout.scss";

@use "./custom/mcl-multi-column.scss";
@use "./custom/ayembedt-font.scss";


// from owlly-lab https://github.com/Mara-Li/owlly-lab/blob/main/quartz/styles/custom.scss
@use "./custom/callouts.scss";
@use "./custom/image_grid_float.scss";
@use "./custom/grid_callouts.scss";




//put your custom CSS here!
// .callout {
//     &[data-callout="custom"] {
//       --color: #customcolor;
//       --border: #custombordercolor;
//       --bg: #custombg;
//       --callout-icon: url("data:image/svg+xml; utf8, <custom formatted svg>"); //SVG icon code
//     }
//   }


/* Style to add a light yellow border around Mermaid diagrams */
.mermaid {
  border: 1px solid #215c7a6a; /* Light yellow border */
  padding: 10px; /* Optional: adds space between the border and diagram */
  border-radius: 5px; /* Optional: rounds the edges of the border */
  // background-color: #fffdf0; /* Optional: light yellow background */

  // 添加居中显示的样式
  display: flex;
  justify-content: center;
}


// /* For Light Mode */
// table {
//   width: 100%;
//   border-collapse: collapse;
//   background-color: #f5f5fa; /* Light background */
//   border: 1px solid #ddd; /* Light border for a clean look */
// }

// th, td {
//   border: 1px solid #ddd;
//   padding: 10px;
//   color: #2b2b2b; /* Darker text for better readability */
// }

// th {
//   background-color: #132235; /* Bold red header background */
//   text-align: left;
//   font-weight: bold;
//   color: white; /* White text for header */
// }

// tr:nth-child(even) {
//   background-color: #f9f7f7; /* Light pink for even rows */
// }

// tr:nth-child(odd) {
//   background-color: #f9f7f7; /* White for odd rows fdfdfd*/
// }




// Put your custom CSS here!


.page .page-header {
  padding: 1px 1px 1px 1dvw;
  width: auto;
  margin-left: -1dvw;
  margin-right: -1dvw;
}

// @media all and (max-width: $fullPageWidth) {
//   .page-title.mobile-only {
//     max-width: fit-content;
//     a {
//       font-size: 4dvw;
//       vertical-align: 0.25em;
//     }
//   }
// }

// @media all and (max-width: $mobileBreakpoint) {
//   .page .page-header {
//     width: auto;
//   }
// }

// @media all and (min-width: $tabletBreakpoint) {
//   .page-title.mobile-only a {
//     font-size: 2.5vw;
//     vertical-align: middle;
//   }
// }



hr {
  width: auto !important;

  .hr-title & {
    margin: 0;
    margin-top: -0.3em;
  }
}

.rside-10 img[alt*="+rside"] {
  width: 10em;
}

.wiki-left .callout[data-callout$="wiki"] h1,
.wiki-left .callout[data-callout$="wiki"] h3 {
  background-color: var(--lightgray);
}

.avatar img[alt="+rside"] {
  width: auto;
}


