@use "./base.scss";

// put your custom CSS here!
.callout {
    &[data-callout="custom"] {
      --color: #customcolor;
      --border: #custombordercolor;
      --bg: #custombg;
      --callout-icon: url("data:image/svg+xml; utf8, <custom formatted svg>"); //SVG icon code
    }
  }